@font-face { font-family:pdark; src:url('pdark.ttf'); }
@font-face { font-family:starcraft; src:url('starcraft.ttf'); }
@font-face { font-family:diablo; src:url('diablo.ttf'); }
@font-face { font-family:babylon5; src:url('babylon5.ttf'); }

@font-face { font-family:agency; src:url('agency.ttf'); }
@font-face { font-family:ambient; src:url('ambient.ttf'); }
@font-face { font-family:battlest; src:url('battlest.ttf'); }
@font-face { font-family:bnk_gothm; src:url('bnk_gothm.ttf'); }
@font-face { font-family:diamond; src:url('diamond.ttf'); }
@font-face { font-family:diploma; src:url('diploma.ttf'); }
@font-face { font-family:droid; src:url('earth.ttf'); }
@font-face { font-family:fluoride; src:url('fluoride.ttf'); }
@font-face { font-family:frosty; src:url('frosty.ttf'); }
@font-face { font-family:gotham; src:url('gotham.ttf'); }
@font-face { font-family:grey_wolf; src:url('grey_wolf.ttf'); }
@font-face { font-family:gravitysucks; src:url('gravitysucks.ttf'); }
@font-face { font-family:gunship; src:url('gunship.ttf'); }
@font-face { font-family:hacka; src:url('hacka.ttf'); }
@font-face { font-family:inductio; src:url('inductio.ttf'); }
@font-face { font-family:interdi0; src:url('interdi0.ttf'); }
@font-face { font-family:magic_cards; src:url('magic_cards.ttf'); }
@font-face { font-family:marqueem; src:url('morpheus.ttf'); }
@font-face { font-family:no-control; src:url('ppixel.ttf'); }
@font-face { font-family:quake; src:url('quake.ttf'); }
@font-face { font-family:triacsev; src:url('triacsev.ttf'); }
@font-face { font-family:victor; src:url('victor.ttf'); }
@font-face { font-family:vibrocen; src:url('vibrocen.ttf'); }
@font-face { font-family:xfiles; src:url('xfiles.ttf'); }

@font-face { font-family:piracy; src:url('piracy.ttf'); }
@font-face { font-family:pirate-keg; src:url('pirate-keg.ttf'); }
@font-face { font-family:pirate-keg-italic; src:url('pirate-keg-italic.ttf'); }
@font-face { font-family:planet-cosmos; src:url('planet-cosmos.ttf'); }
@font-face { font-family:planet-x; src:url('planet-x.ttf'); }
@font-face { font-family:planet; src:url('planet.ttf'); }
@font-face { font-family:planetary-orbiter; src:url('planetary-orbiter.ttf'); }
@font-face { font-family:planetary-orbiter-italic; src:url('planetary-orbiter-italic.ttf'); }
@font-face { font-family:plasma-drip; src:url('plasma-drip.ttf'); }

@font-face { font-family:borg; src:url('borg.ttf'); }
@font-face { font-family:steam; src:url('steampunk.ttf'); }