/* CSS layout */
body {
    margin: 0;
    padding: 0;
    color: #aaa;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    background-color: #000;
    background-image: url('../images/bg.gif');
    background-position: center top;
    background-repeat: repeat-all;
}

a {
    color: silver;
    text-decoration: none;
    border: none;
}

a:hover {
    color: lightsteelblue;
    text-decoration: underline;
    border: none;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
}

h1, h2, h3 {
    font-family: pdark, Verdana, sans-serif;
    text-shadow: 0 0 15px #000;
    color: #fff;
}

h4, h5, h6 {
    font-family: pdark, Verdana, sans-serif;
}

input, textarea, select, button {
    color: #ccc;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    background-color: #555;
    border-color: #666;
    padding: 2px 4px;
}

button {
    padding: 3px 8px;
}

hr {
    border-style: solid;
    border-width: 2px;
    border-color: #555;
}

#wrapper {
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}

#masthead {
    height: 236px;
    margin: 0;
    padding: 12px;
    background: #000;
}

#masthead h1 {
    color: #fff;
    font-size: 30pt;
    font-family: pdark, Verdana, sans-serif;
    font-weight: bolder;
}

#masthead h2 {
    color: #fff;
    font-size: 17pt;
    font-family: pdark, Verdana, sans-serif;
    font-weight: bold;
}

#top_nav {
    height: 34px;
    background-color: #333;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 13px;
    border: 4px solid #444;
    font-weight: bold;
}

#container {
    min-width: 600px;
}

#left_col {
    width: 170px;
    float: left;
    background-color: #444;
    min-height: 600px;
}

#right_col {
    width: 170px;
    float: right;
    background-color: #444;
    min-height: 600px;
}

#left_col p, #right_col p {
    padding: 0 10px 0 10px;
}

#left_col h3, #right_col h3 {
    font-size: 14px;
    margin: 0;
    background-color: #333;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #eee;
    border: 2px solid #444;
}

#page_content {
    margin-left: 170px;
    margin-right: 170px;
    min-height: 600px;
    padding: 20px;
    background-color: #444;
}

#footer {
    clear: both;
    background-repeat: repeat-x;
    text-align: center;
    padding: 20px 0;
}

/* left and right main menus */
ul.menu {
    padding: 0px 2px 2px 2px;
    margin: 0 0 20px 0;
    background-position: center bottom;
}

ul.menu li {
    list-style: none;
}

ul.menu li a {
    list-style: none;
    text-align: center;
    display: block;
    border: none;
    vertical-align: middle;
    border-width: 2px;
    border-color: #666;
    border-style: outset;
    padding: 5px;
}

ul.menu li a:hover, ul.menu li a:active, ul.menu li a:focus {
    border-style: inset;
}

/* left main menu end */

/* Top menu */
ul#topmenu {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 22px;
    line-height: 30px;
}

ul#topmenu li {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul#topmenu li a {
    vertical-align: middle;
    list-style: none;
    border: none;
    padding: 5px 15px 5px 15px;
    background-repeat: repeat-x;
}

ul#topmenu li a:hover, ul#topmenu li a:active, ul#topmenu li a:focus {
    background-repeat: repeat-x;
}

/* Top menu end */

/* Footer menu */
ul#footermenu {
    padding: 0;
    text-align: center;
}

ul#footermenu li {
    list-style: none;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0 15px;
}

ul#footermenu li a {
    color: gray;
    list-style: none;
    border: none;
}

/* Footer menu end */
#designed_by {
    text-align: center;
    color: #999;
    font-size: 0.9em;
}

#designed_by a {
    color: lightsteelblue;
}

#details {
    position: absolute;
    top: 20px;
    left: 10px;
    display: none;
    z-index: 100;
    color: silver;
    background-color: black;
    padding: 20px;
    border: 6pt solid #0000AA;
    height: 350px;
    width: 400px;
    overflow: auto;
}

.form-error {
    border: 2px solid red;
    color: lightcoral;
}

.msg-error {
    border: 2px solid red;
    background: lightcoral;
    color: #111;
    padding: 7px;
}

td.forumdunkel {
    color: silver;
    background-color: #404040;
    border-color: #595959 #272727 #272727 #595959;
    border-style: solid;
    border-width: 2px;
}

td.forummittel {
    color: snow;
    background-color: #606060;
    border-color: #797979 #474747 #474747 #797979;
    border-style: solid;
    border-width: 2px;
}

td.forumhell {
    color: white;
    background-color: #808080;
    border-color: #999999 #676767 #676767 #999999;
    border-style: solid;
    border-width: 2px;
}

td.forumdunkel a, td.forummittel a, td.forumhell a {
    color: lightskyblue;
    font-weight: bold;
}
