DirectoryIndex install.php index.php error.php README.htm

ErrorDocument 401 /www/error.php?error=401
ErrorDocument 403 /www/error.php?error=403
ErrorDocument 404 /www/error.php?error=404
ErrorDocument 410 /www/error.php?error=410
ErrorDocument 500 /www/error.php?error=500
ErrorDocument 503 /www/error.php?error=503
ErrorDocument 504 /www/error.php?error=504

Order deny,allow
Allow from all

Header set Cache-Control "store, cache, max-age=5"
Header set Pragma "cache"

